let SessionLoad = 1
let s:so_save = &g:so | let s:siso_save = &g:siso | setg so=0 siso=0 | setl so=-1 siso=-1
let v:this_session=expand("<sfile>:p")
silent only
silent tabonly
cd ~/Documents/docker_files/hello_qt
if expand('%') == '' && !&modified && line('$') <= 1 && getline(1) == ''
  let s:wipebuf = bufnr('%')
endif
set shortmess=aoO
argglobal
%argdel
$argadd ~/Documents/docker_files/hello_qt
edit notes.md
let s:save_splitbelow = &splitbelow
let s:save_splitright = &splitright
set splitbelow splitright
wincmd _ | wincmd |
vsplit
1wincmd h
wincmd w
wincmd _ | wincmd |
split
1wincmd k
wincmd w
let &splitbelow = s:save_splitbelow
let &splitright = s:save_splitright
wincmd t
let s:save_winminheight = &winminheight
let s:save_winminwidth = &winminwidth
set winminheight=0
set winheight=1
set winminwidth=0
set winwidth=1
exe 'vert 1resize ' . ((&columns * 63 + 105) / 211)
exe '2resize ' . ((&lines * 25 + 26) / 53)
exe 'vert 2resize ' . ((&columns * 147 + 105) / 211)
exe '3resize ' . ((&lines * 25 + 26) / 53)
exe 'vert 3resize ' . ((&columns * 147 + 105) / 211)
argglobal
setlocal fdm=manual
setlocal fde=0
setlocal fmr={{{,}}}
setlocal fdi=#
setlocal fdl=0
setlocal fml=1
setlocal fdn=20
setlocal fen
silent! normal! zE
let &fdl = &fdl
let s:l = 33 - ((32 * winheight(0) + 25) / 51)
if s:l < 1 | let s:l = 1 | endif
keepjumps exe s:l
normal! zt
keepjumps 33
normal! 020|
lcd ~/Documents/docker_files/hello_qt
wincmd w
argglobal
if bufexists("~/Documents/docker_files/hello_qt/Main.java") | buffer ~/Documents/docker_files/hello_qt/Main.java | else | edit ~/Documents/docker_files/hello_qt/Main.java | endif
if &buftype ==# 'terminal'
  silent file ~/Documents/docker_files/hello_qt/Main.java
endif
setlocal fdm=manual
setlocal fde=0
setlocal fmr={{{,}}}
setlocal fdi=#
setlocal fdl=0
setlocal fml=1
setlocal fdn=20
setlocal fen
silent! normal! zE
let &fdl = &fdl
let s:l = 23 - ((22 * winheight(0) + 12) / 25)
if s:l < 1 | let s:l = 1 | endif
keepjumps exe s:l
normal! zt
keepjumps 23
normal! 0
lcd ~/Documents/docker_files/hello_qt
wincmd w
argglobal
if bufexists("~/Documents/docker_files/hello_qt/Dockerfile") | buffer ~/Documents/docker_files/hello_qt/Dockerfile | else | edit ~/Documents/docker_files/hello_qt/Dockerfile | endif
if &buftype ==# 'terminal'
  silent file ~/Documents/docker_files/hello_qt/Dockerfile
endif
setlocal fdm=manual
setlocal fde=0
setlocal fmr={{{,}}}
setlocal fdi=#
setlocal fdl=0
setlocal fml=1
setlocal fdn=20
setlocal fen
silent! normal! zE
let &fdl = &fdl
let s:l = 8 - ((7 * winheight(0) + 12) / 25)
if s:l < 1 | let s:l = 1 | endif
keepjumps exe s:l
normal! zt
keepjumps 8
normal! 0
lcd ~/Documents/docker_files/hello_qt
wincmd w
2wincmd w
exe 'vert 1resize ' . ((&columns * 63 + 105) / 211)
exe '2resize ' . ((&lines * 25 + 26) / 53)
exe 'vert 2resize ' . ((&columns * 147 + 105) / 211)
exe '3resize ' . ((&lines * 25 + 26) / 53)
exe 'vert 3resize ' . ((&columns * 147 + 105) / 211)
tabnext 1
badd +4 ~/Documents/docker_files/hello_qt/Dockerfile
badd +9 ~/Documents/docker_files/hello_qt/Main.java
badd +26 ~/Documents/docker_files/hello_qt/notes.md
badd +50 ~/Documents/docker_files/hello_qt/Input.java
badd +15 ~/Documents/docker_files/hello_qt/PaintCalculator.java
badd +34 ~/Documents/docker_files/hello_qt/Wall.java
badd +13 ~/Documents/docker_files/hello_qt/Door.java
badd +15 ~/Documents/docker_files/hello_qt/Window.java
if exists('s:wipebuf') && len(win_findbuf(s:wipebuf)) == 0 && getbufvar(s:wipebuf, '&buftype') isnot# 'terminal'
  silent exe 'bwipe ' . s:wipebuf
endif
unlet! s:wipebuf
set winheight=1 winwidth=20 shortmess=filnxtToOF
let &winminheight = s:save_winminheight
let &winminwidth = s:save_winminwidth
let s:sx = expand("<sfile>:p:r")."x.vim"
if filereadable(s:sx)
  exe "source " . fnameescape(s:sx)
endif
let &g:so = s:so_save | let &g:siso = s:siso_save
set hlsearch
doautoall SessionLoadPost
unlet SessionLoad
" vim: set ft=vim :
